__pycache__/constants.cpython-313.pyc
leituras/__pycache__/leitura_IBGE.cpython-313.pyc
leituras/__pycache__/leitura_INMET.cpython-313.pyc
leituras/__pycache__/leitura_SUS.cpython-313.pyc
scripts/__pycache__/cruzamento.cpython-313.pyc
