dados/SUS/SUS.csv
__pycache__/constants.cpython-313.pyc
leituras/__pycache__/leitura_IBGE.cpython-313.pyc
leituras/__pycache__/leitura_INMET.cpython-313.pyc
leituras/__pycache__/leitura_SUS.cpython-313.pyc
